<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!--设置会话超时时间（单位：分钟）-->
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <!--地图-->
    <!--主页-->
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>Servlet.index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <!--阅读新闻-->
    <servlet>
        <servlet-name>readNews</servlet-name>
        <servlet-class>Servlet.readNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readNews</servlet-name>
        <url-pattern>/readNews</url-pattern>
    </servlet-mapping>
    <!--登录-->
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Servlet.login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!--注销-->
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlet.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!--添加新闻-->
    <servlet>
        <servlet-name>addNews</servlet-name>
        <servlet-class>Servlet.addNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNews</servlet-name>
        <url-pattern>/addNews</url-pattern>
    </servlet-mapping>
    <!--修改新闻-->
    <servlet>
        <servlet-name>setNews</servlet-name>
        <servlet-class>Servlet.setNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setNews</servlet-name>
        <url-pattern>/setNews</url-pattern>
    </servlet-mapping>
    <!--按标题查询新闻-->
    <servlet>
        <servlet-name>addNewsSelect</servlet-name>
        <servlet-class>Servlet.addNewsSelect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewsSelect</servlet-name>
        <url-pattern>/addNewsSelect</url-pattern>
    </servlet-mapping>
    <!--删除新闻-->
    <servlet>
        <servlet-name>delNews</servlet-name>
        <servlet-class>Servlet.delNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delNews</servlet-name>
        <url-pattern>/delNews</url-pattern>
    </servlet-mapping>
    <!--添加主题-->
    <servlet>
        <servlet-name>addTheme</servlet-name>
        <servlet-class>Servlet.addTheme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addTheme</servlet-name>
        <url-pattern>/addTheme</url-pattern>
    </servlet-mapping>
    <!--修改主题-->
    <servlet>
        <servlet-name>setTheme</servlet-name>
        <servlet-class>Servlet.setTheme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setTheme</servlet-name>
        <url-pattern>/setTheme</url-pattern>
    </servlet-mapping>
    <!--删除主题-->
    <servlet>
        <servlet-name>delTheme</servlet-name>
        <servlet-class>Servlet.delTheme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delTheme</servlet-name>
        <url-pattern>/delTheme</url-pattern>
    </servlet-mapping>
    <!--添加评论-->
    <servlet>
        <servlet-name>addComment</servlet-name>
        <servlet-class>Servlet.addComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addComment</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <!--添加用户-->
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>Servlet.addUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <!--修改用户-->
    <servlet>
        <servlet-name>setUser</servlet-name>
        <servlet-class>Servlet.setUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setUser</servlet-name>
        <url-pattern>/setUser</url-pattern>
    </servlet-mapping>
    <!--修改用户权限-->
    <servlet>
        <servlet-name>setUserPermission</servlet-name>
        <servlet-class>Servlet.setUserPermission</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setUserPermission</servlet-name>
        <url-pattern>/setUserPermission</url-pattern>
    </servlet-mapping>
    <!--删除用户-->
    <servlet>
        <servlet-name>delUser</servlet-name>
        <servlet-class>Servlet.delUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delUser</servlet-name>
        <url-pattern>/delUser</url-pattern>
    </servlet-mapping>
    <!--ajax:主页获取主题列表-->
    <servlet>
        <servlet-name>getTheme</servlet-name>
        <servlet-class>ajax.getTheme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getTheme</servlet-name>
        <url-pattern>/getTheme</url-pattern>
    </servlet-mapping>
    <!--ajax:主页获取新闻列表-->
    <servlet>
        <servlet-name>getNews</servlet-name>
        <servlet-class>ajax.getNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getNews</servlet-name>
        <url-pattern>/getNews</url-pattern>
    </servlet-mapping>
</web-app>